# src/main/resources/application-postgres.yaml
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/frolovsnails
    username: admin
    password: securepassword
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
#      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect